body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}
    .hero > .container {
        display: inline-block;
        width: 600px;
        margin: 40px calc( (100% - 600px) / 2 );
        text-align: center;
    }
        .hero > .container > h1 {
            text-transform: uppercase;
            font-size: 60px;
            margin: 40px 0 20px;
        }
        .hero > .container > p {
            font-size: 20px;
            color: var(--grey-color);
        }
        .hero > .container > .clock {
            display: inline-block;
            width: 100%;
            margin: 60px 0;
            color: var(--light-color);
        }
            .clock > .col {
                display: inline-block;
                float: left;
                width: 25%;
            }
                .clock > .col > .value {
                    font-size: 50px;
                }
                .clock > .col > .title {
                    font-size: 18px;
                }
        .hero > .container > form {
            display: inline-block;
            width: 100%;
        }
            .hero > .container > form > input {
                display: inline-block;
                width: 100%;
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid #CCC;
                font-size: 20px;
                line-height: 40px;
                color: var(--light-color);
                background-color: transparent;
                outline: none;
            }
            .hero ::-webkit-input-placeholder { /* Edge */
                color: var(--light-color);
            }
            .hero :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--light-color);
            }
            .hero ::placeholder {
                color: var(--light-color);
            }
            .hero > .container > form > div {
            }
        .hero > .container > .mouse {
        }

.content {
    display: inline-block;
    width: 100%;
}
    .content > .container {
        display: inline-block;
        width: 800px;
        margin: 60px calc( (100% - 800px) / 2 );
    }
        .content > .container > .left {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .content > .container > .right {
            display: inline-block;
            width: 40%;
            margin-left: 10%;
            float: left;
        }
            .content form {
                display: inline-block;
                width: 100%;
                margin-top: 20px;
                color: var(--dark-color);
            }
                .content form > input {
                    display: inline-block;
                    width: 45%;
                    float: left;
                    line-height: 40px;
                    font-size: 24px;
                    border: none;
                    border-bottom: 1px solid #CCC;
                }
                    .content form > input.margin-10 {
                        margin-left: 10%;
                    }
                .content form > textarea {
                    display: inline-block;
                    width: 100%;
                    margin: 10px 0;
                    line-height: 40px;
                    font-size: 24px;
                    border: none;
                    border-bottom: 1px solid #CCC;
                }
                .content ::-webkit-input-placeholder { /* Edge */
                    color: var(--dark-color);
                }
                .content :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: var(--dark-color);
                }
                .content ::placeholder {
                    color: var(--dark-color);
                }

footer {
    display: inline-block;
    width: 100%;
    background-color: var(--main-color);
}