body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-color);
}
    .hero > .container {
        display: inline-block;
        width: 600px;
        margin: 40px calc( (100% - 600px) / 2 );
        text-align: center;
    }
        .hero > .container > h1 {
            text-transform: uppercase;
            font-size: 60px;
            margin: 40px 0 20px;
        }
        .hero > .container > p {
            font-size: 20px;
            color: var(--grey-color);
        }
        .hero > .container > .clock {
            display: inline-block;
            width: 100%;
            margin: 60px 0;
            color: var(--light-color);
        }
            .clock > .col {
                display: inline-block;
                float: left;
                width: 25%;
            }
                .clock > .col > .value {
                    font-size: 50px;
                }
                .clock > .col > .title {
                    font-size: 18px;
                }
        .hero > .container > form {
            display: inline-block;
            width: 100%;
        }
            .hero > .container > form > input {
                display: inline-block;
                width: 100%;
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid #CCC;
                font-size: 20px;
                line-height: 40px;
                color: var(--light-color);
                background-color: transparent;
                outline: none;
            }
            .hero ::-webkit-input-placeholder { /* Edge */
                color: var(--light-color);
            }
            .hero :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: var(--light-color);
            }
            .hero ::placeholder {
                color: var(--light-color);
            }
            .hero > .container > form > div {
            }
        .hero > .container > .mouse {
            display: inline-block;
            width: 160px;
            height: 280px;
            margin-top: 40px;
            border: 10px solid #FFF;
            border-radius: 80px;
        }
            .mouse > .scroll {
                display: inline-block;
                width: 50px;
                height: 50px;
                background-color: rgba(255, 255, 255, 1);
                margin-top: 40px;
                animation-name: scrolling;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                box-shadow: 0 0 0 #FFF;
                animation-timing-function: cubic-bezier(0, 1.07, 0.45, 0.14);
                background-image: url(../img/mouse.jpeg);
                background-position: center;
                background-size: contain;
            }
                .mouse > .scroll:hover {
                }
    @keyframes scrolling {
        0% {
            margin-top: 40px;
            background-color: rgb(255, 255, 255);
            opacity: 1;
            box-shadow: 0px 0px 0px #FFF, 0px 0px 0px #FFF;
            transform: rotate(0deg);
        }
        /* 20% {
            margin-left: -200px;
        }
        40% {
            margin-left: 400px;
        }
        60% {
            margin-left: -600px;
        }
        60% {
            margin-left: 200px;
        } */
        100% {
            margin-top: 170px;
            background-color: rgb(255, 0, 0);
            opacity: 0;
            box-shadow: 200px 0px 0px #FFF, -200px 0px 0px #FFF;
            transform: rotate(360deg);
        }
    }

.content {
    display: inline-block;
    width: 100%;
}
    .content > .container {
        display: inline-block;
        width: 800px;
        margin: 60px calc( (100% - 800px) / 2 );
    }
        .content > .container > .left {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .content > .container > .right {
            display: inline-block;
            width: 40%;
            margin-left: 10%;
            float: left;
        }
            .content form {
                display: inline-block;
                width: 100%;
                color: var(--dark-color);
            }
                .content form > input {
                    display: inline-block;
                    width: 45%;
                    float: left;
                    line-height: 40px;
                    font-size: 24px;
                    border: none;
                    border-bottom: 1px solid #CCC;
                }
                    .content form > input.margin-10 {
                        margin-left: 10%;
                    }
                .content form > textarea {
                    display: inline-block;
                    width: 100%;
                    margin: 10px 0;
                    line-height: 40px;
                    font-size: 24px;
                    border: none;
                    border-bottom: 1px solid #CCC;
                    resize: vertical;
                    max-height: 300px;
                    min-height: 80px;
                }
                .content form > .btn {
                    float: right;
                }
                .content ::-webkit-input-placeholder { /* Edge */
                    color: var(--dark-color);
                }
                .content :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: var(--dark-color);
                }
                .content ::placeholder {
                    color: var(--dark-color);
                }

.content h2 {

}
.content p {
    margin-bottom: 20px;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: var(--main-color);
    color: var(--light-color);
    font-size: 20px;
    text-align: center;
}
    footer > .container {
        display: inline-block;
        width: 800px;
        margin: 0 calc( (100% - 800px) / 2 );
        position: relative;
    }
        footer .social-icons {
            display: inline-block;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #FFF;
        }
            footer .social-icons > a {
                display: inline-block;
                margin: 10px 20px;
                color: var(--light-color);
                text-decoration: none;
            }
        footer .bottom-texts {
            display: inline-block;
            width: 100%;
            padding: 20px 100px 40px;
        }
        footer .fa-angle-up {
            width: 60px;
            height: 60px;
            line-height: 54px;
            font-size: 42px;
            border-radius: 50%;
            background-color: var(--secondary-color);
            color: var(--light-color);
            position: absolute;
            top: -37px;
            right: -17px;
            cursor: pointer;
            text-decoration: none;
        }

@media ( max-width: 900px ) {
    .content > .container {
        width: 100%;
        margin: 0;
        padding: 40px;
    }
    .content > .container > .left {
        width: 100%;
        margin-bottom: 80px;
    }
    .content > .container > .right {
        width: 100%;
        margin-left: 0;
    }

    footer > .container {
        width: 100%;
        margin: 0;
    }
        footer .fa-angle-up {
            display: none;
        }
}

@media ( max-width: 700px ) {
    .hero > .container {
        width: 100%;
        margin: 40px 0;
        padding: 0 40px;
    }
    footer .bottom-texts {
        padding: 20px 20px 40px;
    }
}

@media ( max-width: 500px ) {
    .clock > .col {
        width: 50%;
    }
    .content form > input {
        width: 100%;
    }
        .content form > input.margin-10 {
            margin-left: 0;
            margin-top: 10px;
        }
}